header.header.header--inner
    .container
        .header__menu(style="display:none")
            .header__menu-inner(data-scroll-lock-scrollable)
                nav.header__nav
                    .header__menu-main
                        //- a(href="farm.html" class=activeItem == "farm" ? "active" : "") Farm
                    
                .btns
                    label.dark-mode-toggle
                        input(type="checkbox")
                        .dark-mode-toggle__inner
                            svg(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9 6C10.654 6 12 7.346 12 9C12 10.654 10.654 12 9 12C7.346 12 6 10.654 6 9C6 7.346 7.346 6 9 6ZM9 4C6.238 4 4 6.238 4 9C4 11.762 6.238 14 9 14C11.762 14 14 11.762 14 9C14 6.238 11.762 4 9 4ZM9 2C9.34 2 9.672 2.033 10 2.08V0H8V2.08C8.328 2.033 8.66 2 9 2ZM4.816 3.401L3.344 1.928L1.93 3.343L3.403 4.816C3.804 4.279 4.279 3.803 4.816 3.401ZM14.598 4.815L16.071 3.342L14.657 1.928L13.184 3.401C13.721 3.803 14.196 4.279 14.598 4.815ZM9 16C8.66 16 8.328 15.967 8 15.92V18H10V15.92C9.672 15.967 9.34 16 9 16ZM13.185 14.598L14.658 16.071L16.073 14.656L14.6 13.184C14.197 13.72 13.721 14.196 13.185 14.598ZM2 9C2 8.66 2.033 8.328 2.08 8H0V10H2.08C2.033 9.672 2 9.34 2 9ZM15.92 8C15.967 8.328 16 8.66 16 9C16 9.34 15.967 9.672 15.92 10H18V8H15.92ZM3.401 13.184L1.928 14.657L3.342 16.071L4.815 14.598C4.279 14.196 3.803 13.721 3.401 13.184Z')
                            svg(width='18' height='18' fill='none' version='1.1' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg')
                                path(d='m14.508 14.27c0.9978-0.997 1.6606-2.2067 1.992-3.4791-2.592 1.9487-6.2899 1.743-8.6482-0.61356-2.3687-2.3671-2.5676-6.0833-0.58957-8.677-1.2943 0.32072-2.5188 0.98658-3.5304 1.9976-2.9758 2.9737-2.9758 7.795 0 10.772 2.9758 2.9737 7.8005 2.9737 10.776 0z')
                    a(href="#connect_wallet").btn.btn-biege.js-popup-open.connect-btn
                        span Connect Wallet
                    #toasts
                        div.count.js-popup-open.btn-biege(href='#transactions')
                            span.value 0
                            span.label &nbsp;transactions
        .hamburger.hamburger--squeeze
            .hamburger-box
                .hamburger-inner
